<?xml version="1.0" encoding="UTF-8"?>
<Server port="-1" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
    <Listener className="org.apache.webbeans.web.tomcat.OpenWebBeansListener" optional="true" startWithoutBeansXml="false" />
    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml" />
        <Resource name="jdbc/postgres" auth="Container"
                  type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
                  url="jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT:-5432}/${POSTGRES_DB}"
                  username="${POSTGRES_USER}" password="${POSTGRES_PASSWORD_FILE}" maxTotal="${TOMCAT_POOL_MAX_CONNECTIONS:-20}" maxIdle="${TOMCAT_POOL_MAX_IDLE_CONNECTIONS:-10}"
                  maxWaitMillis="-1" />
    </GlobalNamingResources>
    <Service name="Catalina">
        <Connector port="8080" protocol="HTTP/1.1"
                   connectionTimeout="20000"
                   redirectPort="8443" />
        <Connector port="8443" protocol="org.apache.coyote.http11.Http11NioProtocol"
                   maxThreads="150" SSLEnabled="true">
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol" />
            <SSLHostConfig truststoreFile="conf/cacerts.jks" truststorePassword="${TRUSTSTORE_PASSWORD_FILE}">
                <Certificate certificateKeystoreFile="conf/keystore.jks"
                             type="RSA"
                             certificateKeyAlias="${KEYSTORE_ALIAS:-server}"
                             certificateKeystorePassword="${KEYSTORE_PASSWORD_FILE}" />
            </SSLHostConfig>
        </Connector>
        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="false" deployOnStartup="true">
                <Realm className="org.apache.catalina.realm.DataSourceRealm"
                       resourceName="DataSourceRealm"
                       dataSourceName="jdbc/postgres"
                       userTable="users"
                       userNameCol="user_name"
                       userCredCol="user_pass"
                       userRoleTable="user_roles"
                       roleNameCol="role_name"
                       debug="9">
                    <CredentialHandler className="org.apache.catalina.realm.MessageDigestCredentialHandler"
                                       algorithm="SHA-512"/>
                </Realm>
                <Valve className="org.apache.catalina.valves.AccessLogValve"
                       rotatable="false"
                       directory="logs"
                       suffix=""
                       pattern="%h %l %u %t &quot;%r&quot; %s %b" />
                <Valve className="org.apache.catalina.valves.ErrorReportValve"
                       showReport="false"
                       showServerInfo="false" />
                <Context docBase="${TOMCAT_UPLOAD_DIR}" path="/_files" cookies="false" />
            </Host>
        </Engine>
    </Service>
</Server>